<footer class="main-footer bg-dark text-white py-3">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        <span>Anything you want</span>
    </div>
    <!-- Default to the left -->
    <div class="text-center text-sm-left">
        <strong>
            Copyright &copy; 2024
            <a href="https://www.linkedin.com/in/rivan-jaradat-0a84b0235/" class="text-white">Rivan Jaradat</a>.
        </strong>
        All rights reserved.
    </div>
</footer>
